-
  const fontsPreload = [
  ]

mixin head(title)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title= title
    meta(description="Development project")
    link(rel="preload" href="css/styles.min.css" as="style")
    link(rel="stylesheet", href="css/styles.min.css" media="screen")
    link(rel="stylesheet", href="css/libs.min.css" media="screen")
    link(rel="preload" href="js/main.js" as="script")
    each font in fontsPreload
      link(rel="preload" href="fonts/" + font as="font" crossorigin="anonymous")
