// container styles
.container {
  @extend .vertical_padding;
  width: 100%;
  max-width: 1920px;
  padding-left: calc(1 / 16 * 100%);
  padding-right: calc(1 / 16 * 100%);
}

// row paddings
.vertical_padding {
  padding-top: 90px;
  padding-bottom: 90px;

  @media (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
