.welcome {
  min-height: 100vh;
  display: flex;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-size: 64px;
    text-transform: uppercase;
  }
  &__btn {
    background: linear-gradient(to left, #1366ff, #ff0b6d);
    color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 2rem;
  }
}
