*,
*::before,
*::after {
  box-sizing: inherit;
  max-height: 999999px;
  background-repeat: no-repeat;
  outline: none;
}

*::before,
*::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  cursor: default;
}

html.has-lightbox {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
  width: 100%;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}

img:not([src]) {
  visibility: hidden;
}

ul,
ol {
  margin: 0;

  li {
    list-style: none;
    box-sizing: border-box;
  }
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  line-height: normal !important;
}

textarea,
input:not([type="checkbox"]):not([type="radio"]) {
  appearance: none;
  box-shadow: none !important;
  border-radius: 0;
}
