// standart styles
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font), sans-serif;
  font-size: var(--base-fz);
  font-weight: normal;
  line-height: 1.5;
  color: var(--text-color);
  height: 100%;
  min-width: 320px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 20px;
  }
}

//::-webkit-scrollbar {
//  width: 10px;widthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidth
//}
//
///* Track */
//::-webkit-scrollbar-track {
//  background: transparent;backgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackground
//}
//
///* Handle */
//::-webkit-scrollbar-thumb {
//  background: #888;backgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackground
//}
//
///* Handle on hover */
//::-webkit-scrollbar-thumb:hover {
//  background: #555;backgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackground
//}
