mixin button(text, type)
  case type
    when 'link'
      a&attributes(attributes)= text
    when 'button'
      button&attributes(attributes)= text
    when 'submit'
      input(
        type='submit'
        value=text
        )&attributes(attributes)

