include ../snippets/button/button
include ../snippets/input/input
include ../snippets/checkbox/checkbox
include ../snippets/radio/radio
include ../snippets/svg/svg
include ../snippets/select/select

mixin example
  div.example
    h1 Примеры вызова базовых компонентов
    hr
    +button('Текст ссылки', 'link')(href="/asds")
    hr
    +button('Текст кнопки', 'button')
    hr
    +button('Текст кнопки submit', 'submit')
    hr
    +input('text', 'Input')
    hr
    p Simple text
    p Simple text
    hr
    +checkbox('Checkbox')
    hr
    +radio('Radio 1', 'name')
    +radio('Radio 2', 'name')
    hr
    p svg image
    +svg('logo-everest')(
      viewBox="0 0 157 20"
      width="300px"
    )
    hr
    p Datepicker
    input#date-picker(type='text' placeholder="Дата")
    hr
    p Slider
    .example__slider
      each index in [1 , 2 , 3 ,4]
        .example__slider-item= index
    hr
    p Scrollmagic + Gsap example
    .example__animation
      .example__animation-wrap
        .example__animation-item
    hr
    p Example image lightgallery
    .example__gallery#gallery
      a(href="http://cdn.osxdaily.com/wp-content/uploads/2019/06/macOS-Catalina-Light-mode.jpg")
        img(src="http://cdn.osxdaily.com/wp-content/uploads/2019/06/macOS-Catalina-Light-mode.jpg")
      a(href="https://blog.macsales.com/wp-content/uploads/2019/09/Apple_Pro_Display_XDR.jpg")
        img(src="https://blog.macsales.com/wp-content/uploads/2019/09/Apple_Pro_Display_XDR.jpg")
    hr
    p Modal example
    +button('Open modal', 'button')(data-micromodal-trigger="modal-1")
    include ../modal/modal
    hr
    p Simplebar example
    .example__custom-scroll
      .example__custom-scroll-wrapper(data-simplebar)
        img(src="http://cdn.osxdaily.com/wp-content/uploads/2019/06/macOS-Catalina-Light-mode.jpg")
    hr
    p Select
    -
      options = [
        'Value 1',
        'Value 2',
        'Value 3',
        'Value 4',
        ]
    +select(options)


