.example {
  width: 100%;
  min-height: 100%;
  padding: 10%;

  &__slider {
    margin-bottom: 48px;
    &-item {
      width: 30%;
      height: 300px;
      margin-right: 16px;
      background-color: #0f0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  hr + p {
    font-size: 2rem;
  }

  &__animation {
    height: 500px;
    padding-top: 100px;
    &-item {
      height: 100px;
      width: 100px;
      background-color: #0f0;
    }
  }

  &__gallery {
    display: flex;
    margin-top: 16px;
    a {
      width: 300px;
    }
    a + a {
      margin-left: 24px;
    }
  }

  &__custom-scroll {
    width: 300px;
    height: 200px;

    &-wrapper {
      width: 100%;
      height: 100%;
      //overflow: scroll;
    }

    img {
      max-width: initial;
    }
  }
}
