extends ../blocks/layouts/main-layout
include ../blocks/example/example
include ../blocks/container/container

append head
  title Главная

block content
  .welcome
    +container
      .welcome__title Leamit boilerplate
      a.welcome__btn(href="/example.html") Примеры компонентов
