input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
textarea {
  display: block;
  width: 100%;
  height: auto;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  outline: none;
  vertical-align: inherit;
  box-shadow: none;
  border: none;
  background: #fff;
  color: #000;
  -webkit-appearance: none;
  resize: none;
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation; /* 2 */
  padding: 0;

  ::input-placeholder {
    color: var(--text-color);
  }

  &.error {
  }
}
