.checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkbox__checkmark {
      background-color: #2196f3;
      &::after {
        display: block;
      }
    }
  }
  &__text {
    font-size: 16px;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    height: 25px;
    width: 25px;
    background-color: #eee;

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 10px;
      top: 6px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
